@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full {
  width: 100% !important;
}

.menu-dropdown {
  display: none;
}

@media(max-width:768px) {
  .menu-dropdown {
    display: block;
  }

  .main-client ul {
    width: 100%;
  }

  .w-full {
    width: 100% !important;
  }

  .clients {
    width: 310px;
  }

  .overview h4 {
    font-size: 18px;
  }

  .overview span:nth-child(1) {
    font-size: 35px;
  }

  .overview span {
    font-size: 14px;
  }

  .summary {
    justify-content: center;
  }

}